<!DOCTYPE html>
<html>
<head>
	<title>reset-psw</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/c649be049a.js"></script>
	<script src="../js/style.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
	<nav class="navbar bg-blue">
		<div class="navbar-brand">
			<a  href="#" class="text-uppercase"><i class="fas fa-paint-roller"></i></a>
		</div>
	</nav>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<div class="block bg-light-blue">
					<p>Reset Your password</p>
					<p> Please Enter your Email Address Below.</p>
					<form method="post" id="passwordForm">
						<input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
						<div class="row">
							<div class="col-sm-6">
								<span id="8char" class="fas fa-minus" style="color:#FF0004;"></span> 8 Characters Long<br>
								<span id="ucase" class="fas fa-minus" style="color:#FF0004;"></span> One Uppercase Letter
							</div>
							<div class="col-sm-6">
								<span id="lcase" class="fas fa-minus" style="color:#FF0004;"></span> One Lowercase Letter<br>
								<span id="num" class="fas fa-minus" style="color:#FF0004;"></span> One Number
							</div>
						</div>
						<input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
						<div class="row">
							<div class="col-sm-12">
								<span id="pwmatch" class="fas fa-minus" style="color:#FF0004;"></span> Passwords Match
							</div>
						</div>
						<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="escaping this page..." value="submit" id="changepassword">
					</form>
				</div>
			</div>
		</div>
	</div>
<script>
</script>
</body>
</html>
