<!DOCTYPE html>
<html lang="en">
<head>
	<title>reset-email</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/c649be049a.js"></script>
</head>
<body>
	<nav class="navbar bg-blue">
		<div class="navbar-brand">
			<a  href="#" class="text-uppercase"><i class="fas fa-paint-roller"></i></a>
		</div>
	</nav>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<div class="block bg-light-blue">
					<p>Reset Your password</p>
					<p> Please Enter your Email Address Below.</p>
					<form>
						<label for="email" class="">Email</label>
						<input type="text" class="form-control " name="email" id="email">
						<input type="submit" value="send password reset" class="bg-pink" >
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<div class="container ">
		<div class="fixed-footer" >&copy;2019 All rights xxxxxxxxxxxxxx</div>
	</div>
</footer>
</html>
