body{
	
	height: 100vh;
}
*{
	font-family: 'Courgette', cursive;
}
.bg-blue{
	background-color: #16519F;
}
.bg-pink{
	background-color:#F07E74;
}
.bg-yellow{
	background-color: #F8DD2E;
}
.bg-light-blue{
	background-color: #4FCBE9;
}
.fa-paint-roller{
	color: white;
	font-size: 20px';
}
.fa-paint-roller:after{
	content: " LOGO";
	font-family: 'Lobster', sans-serif !important;
	font-weight: 300;
}
.navbar-brand>a {
	color: white;
}
.block{
	display: block;
	border: 2px solid #F07E74;
	padding: 15px;
	/* justify-content: center; */
	width: auto;
	height: auto;
	border-radius: 7%;
	
}
@media (min-width: 575px)
{
	.block{
		max-width:350px ;
		margin-left:auto;
		margin-right: auto;
		margin-top: 130px;
	}
}
@media (max-width: 575px) 
{
	.block{
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		padding: 10px;
		margin-top: 100px;
	}
	#changepassword{
	margin-top: 10px !important;
	}
	#passwordForm {
	font-size: 10px !important;
    }
}
.block p{
	margin-bottom: 5px;
	font-weight: 500;
}
label[for="email"]{
	font-weight: 600;
	font-size: 20px;
}
input[id="email"]{
	border-radius: 5px;
}
input[type="submit"]{
	margin-top: 15px;
	border-radius: 5px;
}
#passwordForm {
	font-size: 12px;
}
#changepassword{
	margin-top: 20px;
}
/* footer start */
footer{
	justify-content: center !important;
}
footer>.container{
	text-align: center;
	bottom: 0;
	border-top: 2px solid black;
	position: fixed;
	margin-left: auto !important;
	margin-right:auto !important;
}

@media only screen and (min-width: 576px){
.container {
	width: 100%;
	max-width: none;
}
}
.fixed-footer{
	display: inline-block;

	bottom: 0;
	font-size: 12px;
	
}
/* footer-end */
.topbar {
    height: 4rem;
}